.table-of-contents {
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto 80px;
}

#table-of-contents-header {
  margin-bottom: 40px;
}

ul {
  margin-bottom: 20px;
}

.content-box li:nth-of-type(3) {
  margin-bottom: 40px;
}

.table-of-contents a {
  display: block;
  color: black;
  margin-bottom: 20px;
}

.table-of-contents a:hover {
  color: #0ea5e9;
}

section p {
  text-align: center;
  width: 80%;
  margin: auto;
  display: block;
  overflow-wrap: break-word;
}

section h2,
ol,
li {
  text-align: center;
}

.content-box li {
  text-align: left;
}

.fragen-box li {
  text-align: left;
}

.text-container ol li {
  text-align: left;
}

h4 {
  margin-bottom: 20px;
  text-align: left;
}

section ol li {
  display: block;
}

.kapitel-titel {
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  width: auto;
  margin-bottom: 40px;
}

.kapitel-titel-abschnitt {
  margin-bottom: 30px;
  text-align: left;
}

.fragen-box li:last-child {
  margin-bottom: 40px;
}

.text-container {
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.after-text-button {
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto;
  height: 30px;
  width: auto;
}

.buttons {
  margin-left: 495px;
}

button:last-of-type {
  margin-left: 20px;
}

.after-text-button:hover {
  color: #fff;
  background-color: #0ea5e9;
}

table {
  border: 1px solid #0ea5e9;
  border-collapse: collapse;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto 120px;
}

td,
th {
  border: 1px solid #0ea5e9;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  color: #fff;
  background-color: #0ea5e9;
}

.guide-box {
  text-align: left;
  line-height: 1.5;
}
