/* GLOBALE EINSTELLUNGEN */

/* GRAU: #212529 
 TEAL: #20c997 
 TEAL LIGHT: #96f2d7
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #212529;
}

.behälter {
  width: 980px;
  margin: 0 auto;
}

.behälter p {
  margin-bottom: 40px;
}

header,
section {
  margin-bottom: 96px;
}

.globale-header-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.btn,
.header-navigation a {
  text-decoration: none;
}

.btn:link,
.btn:visited {
  background-color: #20c997;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

/* HEADER */
.header-navigation {
  margin-left: 100px;
  text-align: right;
  margin-bottom: 50px;
}

.header-navigation a {
  margin-right: 20px;
  color: #212529;
}

.header-navigation a:hover {
  color: #20c997;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-kasten {
  align-self: center;
}

.header-text-kasten h1 {
  margin-bottom: 30px;
}

.action-btn {
  padding: 14px 28px;
  font-size: 16px;
  margin-bottom: 30px;
}

header img {
  margin-top: 70px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: inline;
}

.action-btn:hover {
  background-color: #38d9a9;
}

.grid-col-3 {
  display: flex;
  gap: 20px;
}

h2 {
  margin-bottom: 50px;
}

.eig-icon {
  stroke: #20c997;
  height: 30px;
  width: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.dark-mode-icon {
  height: 25px;
  width: auto;
  margin-top: 50px;
}

.newsletter {
  border: 1px solid #212529;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #e9ecef;
}

.newsletter-icon {
  stroke: #20c997;
  height: 70px;
  width: auto;
  display: block;
  margin: 20px auto 10px;
}

.newsletter p {
  text-align: center;
}

.newsletter #benutzermail {
  padding: 6px;
  width: 250px;
  margin-left: 310px;
  margin-bottom: 30px;
  border: 1px solid #212529;
  border-radius: 10px;
}

.newsletter #send-button {
  background-color: #20c997;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #212529;
}

#send-button:hover {
  background-color: #38d9a9;
}

.mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e9ecef;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mySidenav a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mySidenav a:hover {
  color: #20c997;
}

.sidenav-icons {
  height: 25px;
  width: 25px;
  stroke: #818181;
}

.mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
}

span {
  font-size: 30px;
  cursor: pointer;
}

.menu-icon {
  width: 35px; /* Adjust size */
  height: 35px; /* Adjust size */
  cursor: pointer;
  color: #575757; /* Default color */
  margin: 20px; /* Adjust spacing */
  transition: color 0.3s;
}

.menu-icon:hover {
  color: #20c997; /* Color change on hover */
}

/* KONTAKT-SEITE */
header h1 {
  text-align: center;
  margin-top: 70px;
}

.kontaktformular {
  margin: 0 auto;
}

.kontaktformular input {
  border: 1px solid #212529;
  padding: 10px 20px;
  margin-right: 50px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.kontaktformular textarea {
  border-radius: 12px;
}

.kontaktformular #betreff {
  padding: 10px 140px;
}

.kontaktformular #nachricht {
  padding: 50px 143px;
}

.kontaktformular label {
  display: block;
  margin-right: 15px;
  margin-bottom: 0.5rem;
}

/* ÜBER-UNS-SEITE */

section h1 {
  text-align: center;
  margin-bottom: 30px;
}

.about-us img {
  display: block;
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.about-us p {
  margin-bottom: 1.5rem;
}

.about-us p:nth-of-type(3) {
  margin-bottom: 5rem;
}

@media (max-width: 1040px) {
  .behälter {
    width: 800px;
  }

  section h1 {
    margin-top: 5rem;
  }

  .footer-anvigation {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 915px) {
}

/* EMISSIONSTABELLE */
#btn-sort {
  color: #fff;
  background-color: #20c997;
  padding: 10px;
  border: 1px solid #868e96;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-right: 40px;
}

#btn-sort:hover {
  background-color: #38d9a9;
}

#filter {
  padding: 10px;
  border-radius: 12px;
  width: 250px;
}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 960px;
  border-radius: 10px;
}

th,
td {
  border: 1px solid #e9ecef;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #e9ecef;
}

.behälter p {
  margin-top: 30px;
  font-size: 14px;
}

/* FAQ */

.behälter h2 {
  margin-top: 70px;
  text-align: center;
}

details {
  margin: 30px auto 30px;
  border: 1px solid #212529;
  padding: 10px;
}

details[open] {
  padding-bottom: 1em;
  padding-left: 25px;
}

summary {
  padding: 1rem 2em 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

/* FOOTER */
.footer-navigation {
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer-navigation a {
  text-decoration: none;
  margin-right: 25px;
  color: #212529;
}

.footer-navigation a:hover {
  color: #20c997;
}

/* IMPRESSUM */
.impressum p {
  font-size: 16px;
  line-height: 1.6;
}

.impressum h2 {
  text-align: left;
  margin: 15px auto 15px;
}

.btn-navigation {
  display: none;
  padding: 0.6rem;
  border: 1px solid #20c997;
  background-color: #20c997;
  color: #fff;
  font-weight: 400;
  border-radius: 12px;
}

.btn-navigation:hover {
  background-color: #38d9a9;
}

@media (max-width: 1060px) {
  .globale-header-navigation {
    margin: auto 4.7rem;
  }

  .header-navigation {
    margin-left: 0.5rem;
  }

  .impressum {
    margin: auto 6rem;
  }

  .footer-navigation {
    margin: auto 6rem;
  }
}

@media (max-width: 914px) {
  .behälter {
    width: 800px;
  }

  .globale-header-navigation {
    display: flex;
    justify-content: space-between;
  }

  .btn-navigation {
    display: block;
  }

  .header-navigation {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .impressum {
    margin-bottom: 4rem;
  }

  .footer-navigation {
    margin-bottom: 3rem;
  }
}

.header-navigation.active {
  display: flex;
  flex-direction: column;
}

/* DATENSCHUTZ */

.datenschutz p {
  font-size: 16px;
  line-height: 1.6;
}

.datenschutz h3 {
  text-align: left;
  margin: 15px auto 15px;
}
